<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tanutanu.cyclemgr.domain.repository.TaskMapper">

	<resultMap id="taskResultMap" type="com.tanutanu.cyclemgr.domain.model.Task">
        <id property="task_id" column="task_id" />
        <result property="task_name" column="task_name" />
        <result property="task_desc" column="task_desc" />
        <result property="user_id" column="user_id" />
        <result property="use_count" column="use_count" />
        <result property="last_update" column="last_update" /> 
    </resultMap>

    <select id="findAllTasksByUserId" parameterType="String" resultMap="taskResultMap">
		SELECT
			*
		FROM 
			task
		WHERE
			task.user_id = #{userId}
    </select>

	<select id="findTaskById" parameterType="String" resultMap="taskResultMap">
		SELECT
			*
		FROM 
			task
		WHERE
			task.task_id = #{taskId}
    </select>

	<insert id="createTask"	parameterType="com.tanutanu.cyclemgr.domain.model.Task">
		INSERT INTO task (task_id,task_name,task_desc,user_id,use_count,last_update)
		VALUES(
			(SELECT 
				CASE WHEN 'T' ||  MAX(TO_NUMBER(SUBSTRING(task_id,2,255),'999999999'))+1 ISNULL THEN 'T1'
            		ELSE  'T' ||  MAX(TO_NUMBER(SUBSTRING(task_id,2,255),'999999999'))+1 
				END
            FROM task)
			,#{task_name}
			,#{task_desc}
			,#{user_id}
			,#{use_count}
			,#{last_update})
	</insert>

	<update id="updateTask"	parameterType="com.tanutanu.cyclemgr.domain.model.Task">
		UPDATE task
		SET task_name=#{task_name},
			task_desc=#{task_desc},
			last_update=NOW()
		WHERE
			task_id=#{task_id}
	</update>

	<update id="countUpTask" parameterType="String">
		UPDATE task
		SET use_count=(use_count+1),
		    last_update=NOW()
		WHERE
			task_id=#{taskId}
	</update>

	<delete id="deleteTask" parameterType="String">
		DELETE FROM task
		WHERE
			task_id=#{taskId}
	</delete>
</mapper>